# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
.turbo
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Database
*.db
*.sqlite

# Docker
docker-compose.override.yml
